table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border: 1px solid gray;
    font-size: 20px;
    text-align: center;
}

body {
    background-color: beige;
}

.button_delete {
    height: 35px;
    width: 150px;
    /*доработать*/
}

.button_edit {
    height: 35px;
    width: 150px;
}

#navigation ul {
    display: flex;
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}

#navigation a {
    border-radius: 5px;
    padding: 4px 2px;
    background-color: bisque;
    border: 1px solid black;
    display: block;
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

#navigation a:hover {
    background-color: aliceblue;
}

.add_button {
    border-radius: 5px;
    padding: 4px 2px;
    background-color: bisque;
    border: 1px solid black;
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

.add_button:hover {
    background-color: aliceblue;
}

.add_page {
    font-size: 120px;
}

body {
    background-color: beige;
}

.add_page {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.sub_navigation {
    display: block;
    margin: 10px;
}

.alert {
    padding-top: 6px;
}

.alert-danger {
    color: red;
}
